<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'style4.css')}}">
</head>
<body>
	<div class="loginbox">
		<img src="{{ url_for('static',filename ='img/pic1.jpg')}}" class="avatar">
		<h1>Recovery</h1>
		<form action="{{url_for('auth.fde')}}">
			<p>Email Address</p>
			<input type="text" name="" placeholder="Enter Email Address">
			
			<input type="submit" value="Submit">
			
			<a href="{{url_for('auth.SignUp')}}">No Account? Make one here</a><br>
			<a href="{{url_for('auth.login')}}">Have An Account?</a><br>
			<a href="{{ url_for('views.home')}}">Home</a><br>
			
		</form>
	</div>
</body>
</html>